* {
  margin: 0px; 
  padding: 0px; 
  font-size: 12px; 
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: #CCC; 
}

table {
  border: 1px solid #CCCCCC; 
  background-color: #f3f3f3; 
}

td {
  height: 10px; 
  width: 10px; 
  border: 1px solid #CCCCCC; 
  background-color: #ffffff; 
  padding: 10px; 
}

div.btn {
  width: 100px; 
  padding: 20px; 
  border: 1px solid #CCCCCC; 
  background-color: #f3f3f3; 
  margin-top: 20px; 
  text-align: center; 
  cursor: pointer; 
}

td.on {
  background: url(../images/Argentina.gif) no-repeat 50% 50% transparent; 
}

