* {
  margin: 0px; 
  padding: 0px; 
  font-size: 12px; 
}

ul, li, p, h1, h2, input, label {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	color: #434343; 
	text-shadow: 1px 1px 1px #ffffff;
	filter: dropshadow(color=#ffffff, offx=1, offy=1); 
}

table {
  border: 1px solid #CCCCCC; 
  background-color: #f3f3f3; 
  margin-top: 50px; 
  margin-left: 20px; 
}

td {
  height: 10px; 
  width: 10px; 
  border: 1px solid #CCCCCC; 
  background-color: #ffffff; 
}

td.on {
  background-color: #ABABAB; 
  background-color: #6992C2; 
}

#cells_submit {
  background-color: red; 
  padding: 10px; 
  margin-bottom: 20px; 
}


/*======================================== Toolbars and nav and everything ========================================*/
/*=================================================================================================================*/
#logo {
	float: left; 
	margin-left: 20px; 
	margin-right: 20px; 
	margin-top: 3px; 
  width: 205px; 
}

#nav_bg {
	width: 100%; 
	height: 30px; 
	position: absolute; 
	top: 0px; 
	z-index: 0; 
  background-color: #263F5C; 
  opacity: 0.2; 
  filter:alpha(opacity=20); 
  -webkit-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.3);
}

#nav_l {
	width: 15px; 
	height: 40px;
	background-image: url(../images/nav_l.png); 
	position: absolute; 
	left: 0px;
	top: 0px; 
}

#nav_m {
	height: 40px;
	background-image: url(../images/nav_m.png); 
	position: absolute; 
	top: 0px; 
	left: 15px; 
	right: 12px; 
}

#nav_r {
	width: 12px; 
	height: 40px;
	background-image: url(../images/nav_r.png); 
	position: absolute; 
	right: 0px;
	top: 0px; 
}

#nav {
	width: 100%; 
	height: 40px; 
	position:absolute; 
	top:0px; 
}

#nav ul.menu {
	float: left; 
	padding: 0px 15px; 
	list-style: none; 
}

#nav ul .menu_li {
	display: block; 
	height: 40px; 
	padding-top: 7px; 
	cursor: pointer;
}

#nav ul.menu_inner {
	position: absolute; 
	top: 29px; 
	list-style: none; 
	display: none; 
	background-color: #FFFFFF; 
	border-left: 1px solid #E7E7E7; 
	border-right: 1px solid #E7E7E7; 
	border-bottom: 1px solid #E7E7E7; 
	border-top: 1px solid #FFFFFF; 
	-webkit-box-shadow: 0px 3px 3px 0px , 0.25);
	-moz-box-shadow: 0px 3px 3px 0px , 0.25);
	box-shadow: 0px 3px 3px 0px , 0.25); 
}

#nav ul.menu_inner li {
	padding: 5px 15px; 
  height: 17px; 
}

#nav ul.menu_inner li:hover {
	background-color: #e7e7e7; 
}

#nav ul.menu:hover ul.menu_inner {
	display: block; 
}

#nav ul.menu_inner li div.btn {
	float: right; 
}

.toolbar {
  float: right; 
  width: 300px;   
  margin-top: 5px;
}

.btn {
  background-color: #f4f4f4; 
  padding: 2px 10px;
  -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px;
  cursor: pointer;
}

.toolbar li.btn {
  display: block; 
  float: left; 
  margin-right: 15px;
  padding-left: 19px; 
  background-position: 3px 50%; 
  background-repeat: no-repeat; 
}

.wrap_on {
  background: url(../images/check.png) no-repeat 90% 50% transparent; 
}

.toolbar li:hover {
  background-color: #6992C2; 
}

#start {
  background-image: url(../images/play.png); 
}

#clear {
  background-image: url(../images/clear.png); 
}

#pause {
  background-image: url(../images/pause.png); 
}


/*=================================================== Dialogue Box ================================================*/
/*=================================================================================================================*/


.dialogue {
  display: none; 
  position: absolute; 
  width: 350px; 
  height: 250px; 
  left: 50%; 
  top: 50px; ; 
  margin-left: -175px; 
}

#dialogue {
  z-index: 10; 
  overflow: hidden; 
}

#dialogue_bg {
  z-index: 0; 
  background-color: #263F5C; 
  opacity: 0.2; 
  filter:alpha(opacity=20); 
  -webkit-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.3);
}

.dialogue_inner {
  width: 300px; 
  height: 200px; 
  padding: 25px 25px; 
  position: absolute; 
  top: -200px; 
}

/* All of the dialogue boxes
#dialogue_login, 
#dialogue_new_user, 
#dialogue_my_patterns,
#dialogue_save_pattern {
}*/


#dialogue_my_patterns {
  overflow: scroll; 
}

.dialogue p, 
.dialogue_message {
  color: #B50000; 
  margin-bottom: 10px; 
}

.dialogue_close {
  width: 15px; 
  height: 15px; 
  position: absolute; 
  top: 5px; 
  right: 5px; 
  background: url(../images/x.png) no-repeat transparent; 
  cursor: pointer; 
  z-index: 20; 
}

.dialogue input {
  width: 100%; 
  margin-bottom: 10px; 
}




